<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="snakesoft.minion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/m104"
        android:label="Minion"
        android:roundIcon="@mipmap/m104"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.InboxActivity" />
        <activity android:name=".Activities.SyncActivity" />
        <activity android:name=".Activities.JournalActivity" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.ActionsActivity" />
        <activity android:name=".Activities.ActionsItemViewActivity" />
        <activity android:name=".Activities.CalendarActivity" />
        <activity android:name=".Activities.CalendarDayViewActivity" />
        <activity android:name=".Activities.CalendarItemViewActivity" />
        <activity android:name=".Activities.WpActivity"></activity>
    </application>

</manifest>