.GoalViewCtrlEmpty {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: darkgrey;
  height: 25vh;
}

.GoalViewCtrl {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: lightyellow;
  height: 25vh;
}

.GoalViewCtrlSmallEmpty {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: darkgrey;
  height: 35px;
}

.GoalViewCtrlSmall {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: lightyellow;
  height: 35px;
}

.GoalViewCtrl_Text {
  margin-left: 5px;
  margin-top: 25px; 
  font-size: 20px;
  user-select: none;
  -moz-user-select: none;
}

.GoalViewCtrl_Notes {
  font-size: 12px;
  color: grey; 
  user-select: none;
  -moz-user-select: none;
}

.GoalViewCtrl_Objectives {
  margin-top: 20px;
  user-select: none;
  -moz-user-select: none;
}

.Task {
  margin-left: 150px;
  padding-top: 30px;
  font-size: 25px;
  user-select: none;
  -moz-user-select: none;
}

.ResourceViewCtrl {
  display: inline;
  margin-left: 5px; 
}

.ResourceViewCtrlText {
  margin-left: 15px;
  font-size: 24px;
  color: grey;
  user-select: none;
  -moz-user-select: none;
}

.ResourceViewCtrlValue {
  margin-left: 5px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: 50px;
  text-align: center;
  font-size: 24px;
  background-color: rgb(242, 255, 208); 
  user-select: none;
  -moz-user-select: none;
}