.custom-tree {
  cursor: default;
}
.custom-tree ul {
  margin: 0;
  padding-left: 60px;
  list-style: none;
}
.custom-tree div.Wt-root {
  display: none;
}
.custom-tree ul.Wt-root {
  padding-left: 0px;
}
.custom-tree .active {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #428bca;
  cursor: default;
}
.custom-tree .Wt-ctrl {
  float: left;
  width: 48px;
  height: 48px;
}
.custom-tree .Wt-ctrl.expand {
  background: url(resources/plus.png) no-repeat center center;
  background-size:contain;
}
.custom-tree .Wt-ctrl.collapse {
  background: url(resources/minus.png) no-repeat center center;
  background-size:contain;
}
.custom-tree .Wt-ctrl.Wt-noexpand {
  background: url(../../../line-middle.gif) no-repeat 0 0;
}
.custom-tree .Wt-ctrl img {
  vertical-align: center;
}
.custom-tree .cols-row {
  float: right;
}
.custom-tree .Wt-label {
  padding: 0px 20px;
  font-size: 250%;
  line-height: 150%;
}
body.Wt-rtl .custom-tree ul {
  margin: 0;
  padding-left: 0px;
  padding-right: 20px;
}
body.Wt-rtl .custom-tree ul.Wt-root {
  padding-right: 0px;
}
body.Wt-rtl .custom-tree.Wt-trunk,
body.Wt-rtl .custom-tree .Wt-item.Wt-trunk {
  background-position: top right;
}
body.Wt-rtl .custom-tree .Wt-item.Wt-end {
  background-image: url(../../../line-last-rtl.gif);
  background-position: top right;
}
body.Wt-rtl .custom-tree .Wt-ctrl {
  float: right;
}
body.Wt-rtl .custom-tree .Wt-ctrl.Wt-noexpand {
  background-image: url(../../../line-middle-rtl.gif);
  background-position: top right;
}
body.Wt-rtl .custom-tree .cols-row {
  float: left;
}